.editPostDisplay{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: #f5f5f5;
}
.editPostHeader{
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.editPostForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 800px;
    margin: auto;
    padding: 10px;
}
label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
textarea{
    width:700px;
}
