.post-display {
    background-color: #f8f9fa; /* Light grey background */
    border-bottom: 1px solid #dee2e6; /* Border for separation */
    padding: 20px;
    text-align: center; /* Centering title and image/video */
  }
  
  .post-display h1 {
    color: #343a40; /* Dark color for the title */
    margin-bottom: 15px;
  }
  
  .image-video {
    max-width: 100%; /* Ensuring image/video is not larger than its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Slightly rounded corners for aesthetics */
  }
  
  .post-content {
    padding: 20px;
    color: #495057; /* Slightly lighter color for content */
  }
  
  .post-content h2 {
    color: #007bff; /* Highlight color for post content title */
    margin-bottom: 10px;
  }
  
  .post-content p {
    font-size: 0.9em; /* Smaller font size for meta information */
    margin-top: 5px;
  }
  
  button {
    background-color: #007bff; /* Primary button color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
  }
  
  /* Additional styles for like button */
  button.like-button {
    background-color: #dc3545; /* Red color for like button */
  }
  
  button.like-button:hover {
    background-color: #c82333; /* Darker shade for hover effect */
  }
  