
.post-preview .image-video{
    width: 200px;
    height: 200px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.post-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-preview .image-video:hover{
    cursor: pointer;
    box-shadow: 3px 3px 5px;
}

.post-preview .post-info{
    width: 200px;
    height: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border: 1px solid black;
}

.post-preview p{
    font-size: medium;
}

.post-preview h2{
    font-size: x-large;
    margin: 5px 0;
    color: plum;
}

.post-preview h1{
    font-size: large;
    margin: 5px 0;
    color: #98a6fe;
}

.post-preview button{
    align-self: center;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

div .post-info a:hover{
    color:coral;
}
